{{#if errors}}
    {{#each errors}}
        <div class="flag-register">{{msg}}</div>
    {{/each}}
{{/if}}

{{#if id}}
    <div id="poll-id" class="flag-data">{{id}}</div>
{{/if}}

<div id="poll"></div>